.article {
    width: 800px;
    max-width: 800px;
    margin-bottom: 64px;
}

.article .header {
    background: #59f9ff20;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 40px 40px #1f1f1f06;
}

.header h1 {
    height: max-content;
    margin: unset;
    font-family: Cochin;
    font-size: 2.5rem;
}

.article .content {
    margin-top: 42px;
    padding: 0px 44px;
    font-size: 16px;
    line-height: 28px;
}

bold {
    display: block;
    font-weight: 600;
    margin-top: 32px;
    // 
    // font-weight: 600;
    // font-size: 1.25rem;
    // margin-top: 2.75rem;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 16px;
    margin: 0px;
    font-weight: 500;
}

p {
    color: #181D3D;
    margin-top: 0rem;
    line-height: 2.1rem;
}