.subscribe {
    padding: 36px;
    border: 2px solid #1B1C1E;
    width: -webkit-fill-available;
    h3 {
        font-family: Cochin;
        font-size: 2rem;
        margin: unset;
        margin-bottom: 0.75rem;
    }
    background: #FFB200;
}