.postThumbnail {
    width: 500px;
    border: 2px solid #1B1C1E;
    height: 320px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #1B1C1E;
    border-radius: 1px;
    h5 {
        margin: 0px;
        font-size: 1.5rem;
        font-family: Cochin;
    }
    box-shadow: 0px 0px #57CCF7;
    transition: 0.1s ease-in-out;
    &:hover {
        box-shadow: 6px 6px #FFB200;
    }
}